/* tr:nth-child(even){
    background-color: coral;   
}

tr:nth-child(odd){
    background-color: aqua;   
} */


/* 
#first{
    background-color: coral;
    color: white;
}

#second{
    color: cyan;
}

.third{
    background-color: cornsilk;
    color: white;
} */
